/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #444;
  min-height: 100vh;
}

::-webkit-scrollbar-track {
  background-color: #444;
}
::-webkit-scrollbar {
  width: 6px;
  background: #444;
}
::-webkit-scrollbar-thumb {
  background: #727272;
  border-radius: 12px;
}

header {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background-color: #444;
}

section {
  padding: 3rem 0 4rem 0;
  background-color: #444;
}

.button {
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 15px;
  margin-right: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  outline: none;
}

.button:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.button:focus {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.primary {
  font-family: "Roboto", sans-serif;
  background-color: #363636;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.divGifLoadingBtn {
  padding: 1.7px 25px;
  margin-right: 5px;
  background-color: #444;
}

.gifLoadingBtn {
  width: 30px;
  height: 30px;
}

.secondary {
  padding: 8px 23px;
  background-color: #dadada;
  color: #616161;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  font-weight: 600;
}

.separator {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.divSeparator {
  align-self: center;
  width: 80%;
  height: 1px;
  background-color: #767676;
}

.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

@media only screen and (min-width: 700px) {
  .sign-in {
    width: 30rem;
  }
}

.sign-in button {
  border: none;
}

.sign-in button:hover {
  cursor: pointer;
}

.inputPost {
  padding: 0.5rem;
  border-radius: 2px;
  border: 0.1px solid #565656;
  background-color: #696969;
  font-size: 17px;
  color: #c6c6c6;
  font-family: "Roboto", sans-serif;
  outline: none;
  resize: none;
  overflow-y: hidden;
  /*width: 30rem; 100%*/
  height: 10rem;
  outline: none;
}

/*altera estilos do placeholder*/
::-webkit-input-placeholder {
  font-size: 17px;
  color: #c6c6c6;
  font-family: "Roboto", sans-serif;
}

:-moz-placeholder {
  font-size: 17px;
  color: #c6c6c6;
  font-family: "Roboto", sans-serif;
}

::-moz-placeholder {
  font-size: 17px;
  color: #c6c6c6;
  font-family: "Roboto", sans-serif;
}

:-ms-input-placeholder {
  font-size: 18px;
  color: #c6c6c6;
  font-family: "Roboto", sans-serif;
}

input:focus {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.formPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btnFormPost {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.btnFormPost2 {
  width: 80%;
  font-size: 17px;
  color: #f3f3f3;
  margin-inline-start: 20px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.btnFormPost3 {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.txtFormPost {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.post {
  list-style: none;
  margin: 10px;
  padding: 0.5rem;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #565656;
  color: #b4b4b4;
  
  width: 100%;
  min-height: 60px;
  outline: none;
  font-family: "Roboto", sans-serif;
}

@media only screen and (min-width: 700px) {
  .post {
    width: 30rem;
  }
  .postVazio {
    width: 30rem !important;
  }
}

.posts {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  width: 80%;
}

.postFocus:focus,
.postFocus:hover,
.postFocus:active {
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
}

.postVazio {
  width: 80%;
  height: 185px;
  background-color: #3d3d3d20;
  box-shadow: 0 0px 0px;
}

.postLoading {
  background-color: #3d3d3d;
}

.divTxtPostVazio {
  width: 50%;
  height: 15px;
  border-radius: 12px;
  margin-top: 2px;
  background-color: #565656;
}

.divTxtPostVazio2 {
  width: 30%;
  height: 13px;
  margin-top: 7px;
}

.divLogoCaixaVazia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.divLogoLoading {
  padding: 35px;
}

.logoCaixaVazia {
  width: 70px;
  height: 70px;
}

.txtLogoCaixaVazia {
  margin-top: 5px;
  color: #888888;
}

.divHoraPostVazio {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 5px;
}

.txtHoraPostVazio {
  width: 30%;
  height: 12px;
  border-radius: 12px;
  margin-top: 2px;
  background-color: #565656;
}

.txtPost {
  padding: 10px;
}

.divHoraPost {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 13px;
}

.txtHoraPost {
  font-size: 13px;
  color: #7c7c7c;
}

.txtHoraPost:hover,
.txtHoraPost:focus {
  cursor: default;
}

footer {
  background-color: #3d3d3d;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 0.5rem;
}

.logoEditar {
  width: 18px;
  height: 18px;
}

.logoApagar {
  margin-top: 5px;
}

.logoEditar:focus,
.logoEditar:hover {
  cursor: pointer;
}

.divCorpoPost {
  display: flex;
  flex-direction: row;
}

.divLogoPost {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
}

.divTxtPost {
  width: 95%;
  word-wrap: break-word;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  opacity: 1;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal > div {
  border-radius: 10px;
  background-color: #696969;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 700px) {
  .modal > div {
    width: 400px;
  }
}

@media only screen and (max-width: 700px) {
  .modal > div {
    width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  .modal > div {
    width: 90%;
  }
}

@media only screen and (max-width: 350px) {
  .modal > div {
    width: 100%;
    border-radius: 0px;
  }
}


.tituloModal {
  font-size: 18px;
  font-weight: 700;
  color: #c6c6c6;
  font-family: "Roboto", sans-serif;
}

.txtInfoModal {
  color: #b2b2b2;
  font-size: 16px;
  font-weight: 100;
  padding: 8px;
}

.divBtnModal {
  margin-top: 10px;
  margin: 10px;
}

.btnModal:focus,
.btnModal:hover {
  cursor: pointer;
}

.txtBtnModal {
  font-weight: 700;
}

.options {
  min-height: 4vh;  
  display: flex;
  justify-content: flex-end;
  align-items: center;  
}

.sair {
  margin-right: 10px;
  width: 50px;
  height: 30px;
}

.sairText {
  color: #888888;
}

.sairText:hover {
  cursor: pointer;  
}