.header {
  min-height: 8vh;
  background-color: #3d3d3d30;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerDiv {
  min-height: 7vh;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.headerDivNome {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;  
}

.headerDivNomeText {
  color: #eaeaea;
  font-weight: 600;
}

.headerDivMsg {
  width: 20%;
  min-height: 7vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.headerDivMsgCard {
  background-color: #4a4a4a;
  width: 20vh;
  border-radius: 6px;
  margin: 8px;
  display: flex;
  justify-content: center;
}

.headerDivMsgCardText {
  color: #f6f6f6;
  font-size: 14px;
  padding: 10px;
}

.headerDivAcesso {
  min-height: 7vh;
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.headerDivAcessoInput {
  padding: 5px;
  margin: 2px;
  border-radius: 3px;
  border-width: 0px;
  background-color: #5e5e5e;
  outline: none;
  color: #fff;
}

.headerDivAcessoBtn {
  padding: 8px 10px;
  margin-left: 5px;
  text-decoration: none;
  border-radius: 6px;
  outline: none;
  background-color: #303030;
  border-width: 0px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-weight: 600;
}

.headerDivAcessoBtn:hover {
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.headerDivAcessoBtn:focus {
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.2);
}

.headerDivCadastroBtn {
  border-width: 0;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
  background-color: #3d3d3d30;
  text-decoration: underline;
}

.section {
  min-height: 84vh;
  background-color: #444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conteudo {
  width: 80%;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.conteudoAmostra {
  width: 35%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.conteudoAmostraDiv {
  height: 200px;
  width: 80%;  
  background-color: #56565620;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.conteudoAmostraDiv:hover {
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.2);  
}

.conteudoAmostraDivImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-inline-start: 20px;
  background-color: #787878;
}

.conteudoAmostraDivText {
  width: 80%;
  margin: 15px;
  font-size: 15px;  
  color: #a5a5a5;
}

.conteudoAcesso {
  width: 30%;
  min-height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conteudoAcessoDiv {
  width: 400px;
  min-height: 60vh;
  background-color: #ffffff99;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 6px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.login-form button {
  text-transform: uppercase;
  outline: 0;
  background: #565656;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 2px;
}
.login-form button:hover,
.login-form button:active,
.login-form button:focus {
  background: #666666;
}

.footer {
  min-height: 8vh;
  background-color: #56565620;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerText {
  color: white;
}

.footerLinkLinkedin {
  margin-inline-start: 5px;
  text-decoration: none; 
  color: white;
  font-weight: 600;
}